/* Electric Blue: #

Hot Pink: #f16775

Shocking Yellow: #fee36e

Chartreuse-ish: #ceb92c

Darkest Gray: #2a2a2a */


.add_offer-section .heading{
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    color: #373e98;
    margin-top: 20px;
}

.add_offer-section .heading:after{
    content: '';
    display: block;
    margin: 7px auto 40px;
    border-bottom: 7px solid #373e98;
    border-radius: 50%;
    width: 60%;
}

.submit_form-btn{
    display: block;
    margin: 35px auto 0;
    color: #fff;
    background-color: #2a2a2a;
    text-transform: capitalize;
    font-weight: 900;
    font-size: 20px;
    padding: 5px 30px;
    border: 2px solid rgb(42, 42, 42);
    border-radius: 25px;
    transition: 0.4s;
}

.submit_form-btn:hover{
    background-color: rgba(42, 42, 42, 0.4);
    color: #000;
}





/* Inverter Table Css Start */
/* Data Table Start */
.data-table_offers table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

.data-table_offers table th{
    font-weight: 900;
    padding: 15px;
    font-size: 20px;
}
  
.data-table_offers th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}

.data-table_offers table td img.product_img{
    width: 200px;
}

.data-table_offers table td p.description{
    min-width: 500px;
    margin: 0;
}

.data-table_offers table td p.prod_title-table{
    min-width: 200px;
    margin: 0;
}

.data-table_offers table td .action_btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.data-table_offers table td .action_btn>button{
    padding: 5px 20px;
    border: none;
    margin: 10px;
    border-radius: 25px;
    display: flex;
}

.data-table_offers table td .action_btn>button>span{
    margin-right: 5px;
}

.data-table_offers table td .action_btn .edit_btn{
    color: #fff;
    background-color: #ceb92c;
    font-weight: 900;
}

.data-table_offers table td .action_btn .edit_btn:hover{
    background-color: #2a2a2a;
    box-shadow: 0 0 14px -3px #2a2a2a;
}

.data-table_offers table td .action_btn .delete_btn{
    color: #fff;
    background-color: red;
    font-weight: 900;
}

.data-table_offers table td .action_btn .delete_btn:hover{
    background-color: #2a2a2a;
    box-shadow: 0 0 14px -3px #2a2a2a;
}

.data-table_offers table td .product_price{
    display: flex;
    align-items: center;
    color: #f16775;
    font-weight: 900;
}

.data-table_offers table td .product_price>span{
    color: #666;
    font-weight: 100;
    margin-right: 7px;
    text-decoration: line-through;
}
/* Data Table Ends */
/* Inverter Table Vss Ends */